.about-h1 {
  text-align: start;
  margin: 1.4em;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  gap: 2em;
}

.about-profile h4 {
  text-align: center;
  margin-top: 10px;
}

.about-profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid;
}

.about-container h3 {
  text-align: center;
}

.about-container .about-profile {
  align-self: start;
}

.about-text {
  text-align: end;
  line-height: 20px;
}

@media (min-width: 800px) {
  .about-text {
    font-size: 2.6vmin;
    text-align: right;
    line-height: 1em;
  }
  .about-me-parent-container {
    margin-left: 15%;
    margin-right: 15%;
  }
  .about-profile {
    margin-left: 10%;
  }
  .about-profile img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
