.information-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 0.5em;
}

.right-container {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.email-icon {
  position: relative;
  top: 4px;
  right: 5px;
}

.left-container {
  width: 400px;
}
.left-container h1 {
  text-align: left;
}

.p-information {
  text-align: left;
}

.contact-btns {
  margin-top: 2rem;
}

.email-btn {
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  margin-right: 1rem;
}

.phone-btn {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 700px) {
  .phone-btn {
    display: none;
  }
  .information-container {
    gap: 2.5rem;
  }
  .contact-btns {
    text-align: center;
  }
}

.information-container__p {
  font-size: 0.9rem;
}

@keyframes pulseEffect {
  from{
    box-shadow: 0 0 5px 0px #51ff0d;
  }
  to{
    box-shadow: 0 0 12px 0px #51ff0d;
  }
}

.information-container__circular-dot {
  height: 8px;
  width: 8px;
  background-color: #51ff0d;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation-name: pulseEffect;
  animation-timing-function:ease-in-out;
  animation-duration: 1s;
 animation-iteration-count: infinite;
 
}
