.progress {
  background: rgb(220, 220, 220);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 20px;
  width: 125px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px skyblue;
  border-radius: 100px;
  background: rgb(72, 132, 164);
  height: 20px;
  width: 30px;
  line-height: 30px;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  margin: 0.9em;
  gap: 2em;
}

.skill-parent-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 0.1em;
}
