.about-h1 {
  text-align: start;
  margin: 1.4em;
}

@keyframes border-glow {
  0% {
    border-color: black;
  }
  100% {
    border-color: skyblue;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  gap: 2em;
}

.about-profile h4 {
  text-align: center;
  margin-top: 10px;
}

.about-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid;
  animation: border-glow 5s forwards;
}

.about-container h3 {
  text-align: center;
}

.about-container .about-profile {
  align-self: start;
}

.about-text {
  text-align: end;
  line-height: 20px;
}
