.about-h1 {
  text-align: start;
  margin-left: 5vh;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
  gap: 2em;
}

.about-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 7px solid skyblue;
}

.about-container h4 {
  text-align: center;
}

.about-container div {
  align-self: start;
}

.about-text {
  text-align: end;
}
