$bg-color: "black";
$avatar-color: skyblue;

.footerContainer {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  position: absolute;
  bottom: 1%;
  width: 100%;
  .icon {
    font-size: 2rem;
  }
}
