$bg-color: "black";
$avatar-color: skyblue;

.footerContainer {
  background-color: $bg-color;
  margin: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  .icon {
    font-size: 2rem;
  }
}
