.projects-container {
  gap: 0.2em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}

.projects-cards {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(100px, 150px);
}

.align-text {
  justify-self: right;
  align-self: center;
  font-size: 4vmin;
}

.logo-properties {
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 60px;
  height: auto;
  animation: spin linear infinite 6000ms;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
