$bg-color: "black";
$avatar-color: skyblue;

.resume {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(4);
  grid-template-rows: repeat(8, 50px);
  margin: 10px;
  gap: 10px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .contactInfo {
    text-align: center;
    border: 2px solid skyblue;
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    border-radius: 10px;
    p {
      letter-spacing: 1px;
      line-height: 1.5;
    }
    .icon {
      margin-right: 6px;
    }
  }

  .cont {
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
