.contact-container {
  margin: 40% 1em;
  min-width: 320px;
  display: grid;
  border: 4px solid skyblue;
  grid-template-columns: minmax(200px, 600px);
  border-radius: 20px;
  justify-content: center;
  justify-items: center;
  box-shadow: 1px 1px 29px #767676;
}

.contact-container .icon {
  font-size: 4vmin;
  margin-right: 0.5em;
}

.contact-container img {
  width: 130px;
  height: auto;
  border-radius: 50%;
  justify-self: center;
}

.contact-container a,
p {
  text-decoration: none;
  color: skyblue;
  font-size: 3.5vmin;
  text-align: center;
}
