.contact-container {
  margin: 30% 0.5em 1em;
  min-width: 320px;
  display: grid;
  border: 4px solid skyblue;
  grid-template-columns: minmax(200px, 600px);
  border-radius: 20px;
  justify-content: center;
  justify-items: center;
}

.icon {
  font-size: 4vmin;
  margin-right: 0.5em;
}

.contact-container img {
  width: 130px;
  height: auto;
  border-radius: 50%;
  justify-self: center;
  margin: 0.5em;
  border: 4px solid skyblue;
}

.contact-container a,
p {
  text-decoration: none;
  color: skyblue;
  font-size: 16px;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume-btn {
  padding: 1em 3em;
  border-radius: 10px;
  background-color: black;
  color: skyblue;
  border: 3px solid skyblue;
  font-size: 3.5vmin;
  margin-bottom: 3em;
  margin-top: 0.5em;
}
